<!DOCTYPE html>

<html>
<head>
<title>layout test</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="/app/combo?yui.3.12.0/cssreset/cssreset-min.css&yui.3.12.0/cssfonts/cssfonts-min.css&yui.3.12.0/cssbase/cssbase-min.css" />
<style type="text/css">
#pagContC {
    font-size:  12px;
    vertical-align: middle;
    padding:    4px 0;
}

#pagContC img.pgControls {
    width:  auto;
    height: 12px;
    padding: 0 4px 0 4px;
    border: none;
    vertical-align: middle;
    cursor: pointer;
}

#pagContC img.yui3-pagview-disabled {
    cursor: default;
}
#pagContC .yui3-pagview-input-page {
	width: 30px;
}
</style>
<script type="text/javascript">
	YUI_config = {
		debug : true,
		combine : true,
		comboBase : '/app/combo?',
		root : 'yui.3.12.0/',
		gallery: 'gallery-2013.09.18-18-49'
	};
</script>
<script src="/public/js/yui.3.12.0/yui/yui-min.js" type="text/javascript"></script>
<script type="text/javascript">
	var dataBoJson = {{.result.dataBoJson}};
	var listTemplateJson = {{.result.listTemplateJson}};
</script>
<script type="text/javascript" src="/app/comboview?Component/listTemplate.js"></script>
</head>

<body class="yui3-skin-sam">
	<div id="queryParameters">
		<div class="queryParameters-title">查询参数</div>
		<form action="/component/listtemplate" method="post" name="queryForm" id="queryForm">
			<div class="queryParameters-content">
				<table>
				{{$parameterLen := len .result.listTemplate.QueryParameterGroup.QueryParameterLi}}
				{{range $index, $queryParameter := .result.listTemplate.QueryParameterGroup.QueryParameterLi}}
					{{if residue $index 2 0}}
					<tr>
					{{end}}
					<td>
						{{$queryParameter.Text}}
					</td>
					<td>
						<input type="text" name="{{$queryParameter.Name}}" />
					</td>
					{{if lte $parameterLen 2}}
						{{if last $parameterLen $index}}
							<td>
								更多条件
							</td>
							<td>
								<input type="button" value="查询" id="queryBtn" />
								<input type="button" value="重置" />
							</td>
							</tr>
						{{end}}
					{{else}}
						{{if residue $index 2 1}}
							{{if eq $index 1}}
							<td>
								更多条件
							</td>
							<td>
								<input type="button" value="查询" id="queryBtn" />
								<input type="button" value="重置" />
							</td>
							{{end}}
							</tr>
						{{end}}
					{{end}}
				{{end}}
				</table>
			</div>
		</form>
	</div>
	<div id="toolbar">
		{{$toolbarBo := .result.toolbarBo}}
		{{range $index,$value := .result.listTemplate.Toolbar.ButtonLi}}
			{{range $subIndex,$subValue := $toolbarBo}}
				{{if eq $index $subIndex}}
					{{if $subValue.isShow}}
						<input type="button" value="{{$value.Text}}" />
					{{end}}
				{{end}}
			{{end}}
		{{end}}
		<input type="button" value="test" id="testBtn" />
	</div>
	<div id="columnModel">
	
	</div>
	<div id="pagContC" class="yui3-pagview-bar"></div>
	<script type="text/x-template" id="tmpl-bar">
		<img src="/public/img/glyphicons_170_step_backward.png" class="pgControls {pageLinkClass}" data-pglink="first" title="First Page" border="0" />
		<img src="/public/img/glyphicons_173_backTES.png" class="pgControls {pageLinkClass}" data-pglink="prev" title="Prior Page" border="0" />
		{inputPage} of {totalPages}
		<img src="/public/img/glyphicons_173_play.png" class="pgControls {pageLinkClass}" data-pglink="next" title="Next Page" border="0" />
		<img src="/public/img/glyphicons_178_step_forward.png" class="pgControls {pageLinkClass}" data-pglink="last" title="Last Page" border="0" />
		<span style="float:right;margin-right:50px;">Rows per Page: {selectRowsPerPage}</span>
	</script>
	<!-- <div id="columnModel">
		{{.result.dataBo}}<br />
		{{.result.columns}}<br />
		{{.result.dataBoJson}}<br />
		{{.result.columnsJson}}<br />
	</div> -->
</body>
</html>
